PORT = 5000
MONGO_URI = mongodb+srv://(db_user):(db_password)@concienciacononda.hdr3jpm.mongodb.net/?appName=ConcienciaConOnda
JWT_SECRET = (PREGUNTALE A POZOS)
HUGGINGFACE_API_KEY = API_KEY DE HUGGING FACE (IA DE MODERACIÓN)